@import '../../../stylesheet//utils//vars.scss';
@import '../../../stylesheet//utils//breakpoints.scss';
@import '../../../stylesheet//utils/common.scss';

.sideBar {
  display: none;
}

.formWraper {
  height: 100vh;
  background-color: #fff;
}

@media screen and (min-width: $tablet) {
  .sideBar {
    display: flex;
    background-image: url('../../../images/login/boyTabl.svg');
    background-repeat: no-repeat;
    background-size: 260px 250px;

    height: 260px;
    width: 540px;

    margin-top: 60px;
  }

  .financeApp {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 50px;

    font-family: Poppins;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
  }

  .formWraper {
    padding-top: 50px;
    padding-bottom: 196px;

    margin: 0 auto;

    background-color: transparent;
  }
}

@media screen and (min-width: $desktop) {
  .sideBar {
    margin-top: 150px;
    margin-left: 76px;

    background-image: url('../../../images/login/boyDesk.svg');
    background-size: 435px 420px;

    height: 468px;
  }

  .formWraper {
    margin-top: 0;
    width: 720px;

    padding: 135px 85px 115px 95px;

    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
  }

  .financeApp {
    margin-top: 28px;
    margin-right: 0;

    align-items: flex-end;
    justify-content: center;
  }
}
