/* :root {
  --accent-light-color: #24cca7;
  --accent-deep-color: #4a56e2;
  --accent-color-expense: #ff6596; 
  --text-color-on-accent: #ffffff;
  --headers-color: #000000;
  --placeholder-color: #bdbdbd;
} */
