@import '../../stylesheet/utils/breakpoints.scss';
@import '../../stylesheet/main.scss';

.container {
  height: 100vh;
  position: relative;
  margin: 0 auto;
  text-align: center;

  @media screen and (min-width: $mobile) {
    min-width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    min-width: $tablet;
    padding-left: 114px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    display: flex;
    padding-left: 0;
  }
}
