@import '../../stylesheet/utils/breakpoints.scss';
@import '../../stylesheet/main.scss';

.container {
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding: 0 40px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding: 0 85px;
  }
}
