@import '../../stylesheet/main.scss';

.itemLink {
  margin-top: 40px;
}

.buttonNav {
  border: none;
  border-radius: 5px 5px 5px 5px;
  margin-left: 6px;
  margin-right: 6px;
  outline: none;
  cursor: pointer;
}

.svgNav {
  width: 29px;
  height: 25px;
  fill: $accent-deep-color;
  padding: 0px;
  margin-right: 23px;
}

.textNav {
  font-family: $poppins-font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: $headers-color;
}

.textNav:active {
  font-weight: bold;
}

.svgNav:active {
  fill: $table-header-color;
}
