.button {
  margin: 0;
  padding: 5px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  border-style: none;
  background-color: transparent;
  cursor: pointer;
}
