@import '../../stylesheet/main.scss';

.wrapper {
  padding-top: 40px;
  padding-left: 20px;

  @media screen and (min-width: $tablet) {
    padding-left: 40px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 30px;
    padding-left: 30px;
  }
}

.tabTitle {
  font-family: $poppins-font;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  text-align: start;
  color: $headers-color;
}

.diagramWrapper {
  margin-top: 10px;

  @media screen and (min-width: $tablet) {
    display: flex;
    margin-top: 20px;
  }
}

.noTrans {
  height: 280px;
  width: 280px;
  display: flex;
  align-items: center;
}
