@import '../../../stylesheet/main.scss';
.mobile_title {
  padding: 16px 21px 15px 20px;
  background-color: #fff;
  border-radius: 30px;
}

.mobile-table-list {
  @extend %list;
  &_item:not(:last-child) {
    margin-bottom: 10px;
  }
}
