.table {
  width: 280px;
  height: 170px;

  border-collapse: collapse;
  border-radius: 30px;
  overflow: hidden;

  background: #4a56e2;
  background-image: url('../../images/wave.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;

  color: white;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.thead {
  height: 50px;

  background: #6e78e8;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}

.left {
  text-align: left;
  padding-left: 20px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
  padding-right: 20px;
}

td {
  padding-top: 10px;
}

.tbody .traw:last-child td {
  padding-bottom: 20px;
}
