@import '../utils//vars.scss';
@import '../utils/breakpoints.scss';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;

  @media screen and (min-width: $tablet) {
    width: 8px;
    height: 8px;
  }
  background-color: $main-background-blur;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: $accent-light-color;
}

body {
  font-family: $montserrat-font;
  font-style: normal;
  background-color: $overlay-color;

  @media screen and (min-width: $tablet) {
    background-image: url('../../images/ellipseLeft.svg'),
      url('../../images/rightEllipseTabl.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, top right;
  }

  @media screen and (min-width: $desktop) {
    background-image: url('../../images/ellipseLeft.svg'),
      url('../../images/ellipseRight.svg');
  }
}

body.no-scroll {
  overflow: hidden;
}

.button {
  min-width: 100px;
  min-height: auto;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  transition-property: color, background-color;
  transition-duration: 500ms;
  cursor: pointer;
  text-align: center;
}

.pnotify {
  margin-top: 30px;
}

.pnotify-container {
  border-radius: 20px;
}
