$accent-light-color: #24cca7;
$accent-deep-color: #4a56e2;
$accent-color-expense: #ff6596;
$text-color-on-accent: #ffffff;
$headers-color: #000000;
$placeholder-color: #bdbdbd;
$overlay-color: #e7eaf2;
$background-blur-list-color: rgba(255, 255, 255, 0.7);
$main-background-blur: rgba(255, 255, 255, 0.4);
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$poppins-font: 'Poppins', sans-serif;
$montserrat-font: 'Montserrat', sans-serif;

%centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

%list {
  list-style: none;
}

%link {
  display: block;
  text-decoration: none;
}

%img {
  display: block;
  max-width: 100%;
  height: auto;
}

%standart-text-style {
  font-style: normal;
  font-weight: 500;
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
