@import '../../stylesheet/main.scss';

.balance {
  width: 280px;
  height: 80px;
  padding: 8px 40px 13px;
  margin: 25px 0 15px;

  background: $text-color-on-accent;
  border-radius: 30px;

  @media screen and (min-width: $tablet) {
    width: 334px;
  }

  @media screen and (min-width: $desktop) {
    width: 350px;
  }
}

.balanceTitle {
  text-align: start;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;

  color: #a6a6a6;
}

.balanceValue {
  font-family: $poppins-font;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;
  display: flex;
  align-items: center;

  color: #000000;
}

.symbol {
  font-weight: 300;
  margin-right: 10px;
}
